:root {
  --color-text: hsl(202, 55%, 16%);
  --color-yellow: #f78c1f;
  --yellow-background: #fef3e2;
  --blue-background: hsl(202, 86%, 94%);
  --blue-text-title: hsl(203, 41%, 72%);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fb;
}

@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url(./assets/fonts/static/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url(./assets/fonts/static/PlusJakartaSans-Medium.ttf);
}

#filters select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: 'PlusJakartaSans-Medium';
}

#filters label {
  font-weight: bold;
  margin-right: 5px;
  color: var(--color-text);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.export-wrapper {
  display: flex;
  gap: 10px;
}

.export-wrapper select,
.export-wrapper button {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-add {
  background-color: #fae2c9;
  background-color: #f78c1f;
  color: #f78c1f;
  padding: 10px;
  font-family: 'PlusJakartaSans-Medium';
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #e97e13;

}







.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}