body {
  height: 100vh;
  background-image: url('../assets/images/bg_print.jpg');
  /* background-color: #fef3e2; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  /* display: flex; */
  width: 500px;
  height: 400px;

  background-color: white;
  border-radius: 16px;
  border-top: 5px solid #f78c1f;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* IMAGE PANEL */
/* .image-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #023544;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 50px;
}

.image-panel p {
  padding: 20px;
  text-align: center;
  color: #a7a4a4;
  font-size: 16px;
  font-family: 'PlusJakartaSans-Medium';
}

.image-panel img {
  width: 80%;
  max-width: 300px;
  object-fit: contain;
} */

/* FORM PANEL */
.form-panel {
  flex: 1;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.login-form {
  width: 100%;
  max-width: 300px;
}

.login-form h2 {
  font-family: 'PlusJakartaSans-Medium';
  text-align: start;
  margin-bottom: 25px;
  color: #023544;
  /* color: #f78c1f; */

  font-size: 22px;
}

.login-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: hsl(203, 41%, 72%);
  font-family: 'PlusJakartaSans-Medium';
}

.login-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid hsl(203, 41%, 72%);
  border-radius: 6px;
  outline: hsl(203, 41%, 72%);
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 35px;
}

.password-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.login-form button {
  width: 100%;
  padding: 16px;
  /* background-color: #023544; */
  background-color: #f78c1f;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'PlusJakartaSans-Medium';
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #cf7112;
}

.message {
  margin-top: 15px;
  color: red;
  text-align: center;
  font-size: 14px;
}